{# templates/about/about.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Über uns
{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container mx-auto px-4 lg:px-5 my-5">
			<div class="text-center">
				<h1 class="text-4xl font-extrabold">Über uns</h1>
				<p class="text-lg font-normal text-gray-600 mb-0">Erfahren Sie mehr über unseren Auftrag, unsere Vision und unsere Werte.</p>
			</div>
		</div>
		<div class="container mx-auto px-4 lg:px-5">
			<div class="flex flex-wrap">
				<div class="w-full md:w-1/2 mb-5">
					<h2 class="font-bold text-2xl">Unsere Mission</h2>
					<p class="text-lg">Unser Ziel ist es, die besten Produkte zu den besten Preisen anzubieten.</p>
				</div>
				<div class="w-full md:w-1/2 mb-5">
					<h2 class="font-bold text-2xl">Unsere Vision</h2>
					<p class="text-lg">Wir stellen uns eine Welt vor, in der jeder Zugang zu Qualitätsprodukten hat.</p>
				</div>
				<div class="w-full md:w-1/2 mb-5">
					<h2 class="font-bold text-2xl">Unsere Werte</h2>
					<p class="text-lg">Wir legen Wert auf Integrität, Kundenzufriedenheit und Innovation.</p>
				</div>
				<div class="w-full md:w-1/2 mb-5">
					<h2 class="font-bold text-2xl">Kontaktiere uns</h2>
					<p class="text-lg">Wenden Sie sich an uns unter
						<a href="mailto:contact@onlineshop.com" class="text-blue-600 hover:underline">contact@onlineshop.com</a>.</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
