.carousel-item {
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden;
    perspective: 1000px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: black;
    mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZD0iTTEuNCA4bDcuNi03LjZMMTAgMS40bC02LjYgNi42TDkgOGwtNS4yIDUuMi0uNC0uNHoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=') no-repeat center;
    mask-size: contain;
}

.carousel-control-next-icon::after {
    transform: rotate(180deg);
}