{# templates/product/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Manage Products
{% endblock %}

{% block body %}
	<h1>Create a new Product</h1>

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
{% endblock %}
